<!doctype html>
<html lang="ru">
   <meta content="text/html; charset=utf-8" http-equiv="content-type">
   <head>
        <title>Привет!</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/example.css') }}">
   </head>
   <body>
      <p class="red-centered-text">Примеры HTML страницы</p>
      <ul>
         <li> <a href="/">Главная</a> </li>
         <li> <a href="/todo-list">Список дел</a> </li>
         <li> <a href="/about">О нас</a> </li>
      </ul>
      {% block content %}

      {% endblock %}
   </body>
   <script type="text/javascript" src="{{ url_for('static', path='/ticker.js') }}"></script>
</html>
