{% extends "base.html" %}

{% block content %}
<h1>Список дел на сегодня</h1>
<ul>
    {% for item in todo_list %}
    <li>
        <label for="{{ item.id }}">{{ item.title }}</label>
        <input type="checkbox" id="{{ item.id }}" value="{{ item.id }}" onchange="onCheckBoxChange(this)">
    </li>
    {% endfor %}
</ul>
{% endblock %}
